<section class="table-container">
  <!-- SPINNER -->
  <div *ngIf="isLoading$ | async" class="spinner" role="group">
    <mat-spinner></mat-spinner>
  </div>

  <!-- TABLE -->
  <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- Id -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef>#</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.id }}</mat-cell>
    </ng-container>

    <!-- First Name Column -->
    <ng-container matColumnDef="firstName">
      <mat-header-cell *matHeaderCellDef>First Name</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.firstName }}</mat-cell>
    </ng-container>

    <!-- Last Name Column -->
    <ng-container matColumnDef="lastName">
      <mat-header-cell *matHeaderCellDef>Last Name</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.lastName }}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>

  <!-- PAGINATOR -->
  <mat-paginator
    [pageSizeOptions]="[3, 5]"
    [length]="10"
    showFirstLastButtons
  ></mat-paginator>
</section>
